pf-switch {
  display: inline;

  .pf-switch-state {
    display: none;
  }

  >.bootstrap-switch {
    overflow: hidden;
    >.bootstrap-switch-container {
      width: 100%;
      margin-left: -50%;
      display: flex;
      //border-collapse: separate;
      >span {
        //width: 33.334%;
        white-space: nowrap;
        flex-basis: 50%;
        flex-shrink: 0;
        flex-grow: 1;
      }
    }
  }
}

pf-switch[closed] {
  >.bootstrap-switch {
    >.bootstrap-switch-container {
      margin-left: 0%;
    }
  }
}

pf-switch[hidden] {
  display: none;
}

